<h1>Add a new comment</h1>

<%= form_for @IDONTKNOWJUSTBECAUSEWEWANTCOMMENTSEVENTHOUGHIDONTWANTTHEM do |f| %>
  <%= f.text_field :content, :placeholder => "Comment" %>
  <%= f.submit "Add" %>
<% end %>

