<h1>Movies</h1>

<ul>
  <% @movies.each do |film| %>
  <li><%= link_to "#{film.title} (#{film.year})", film %></li>
  <% end %>
</ul>

<%= link_to "Add movie", new_movie_path %>
<br><br>
<%= link_to "Back to home", root_path %>
